name: Test ARC Runner

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  sync:
    runs-on: arc-runner-set

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Guard - avoid loop commits
        run: |
          MSG="$(git log -1 --pretty=%B)"
          echo "Last commit message: $MSG"
          if echo "$MSG" | grep -qi "\[n8n-sync\]"; then
            echo "This is an automation commit. Skipping."
            exit 0
          fi

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Sync projects
        env:
          N8N_BASE_URL: ${{ secrets.N8N_BASE_URL }}
          N8N_AUTH_COOKIE: ${{ secrets.TESTE_SECRET }}

          TARGET_WORKFLOWS_DIR: "workflows"

          BEFORE_SHA: ${{ github.event.before }}
          AFTER_SHA:  ${{ github.sha }}
        run: |
          node --version

      - name: Commit & push (if changes)
        run: |
          if git status --porcelain | grep .; then
            git config user.name  "github-actions[bot]"
            git config user.email "github-actions[bot]@users.noreply.github.com"
            git add -A
            git commit -m "chore: sync n8n workflows by project [n8n-sync]"
            git push
          else
            echo "No changes to commit."
          fi
